html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    background: rgb(235, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color: rgb(73, 26, 184);
}

button:hover{
    background-color: rgb(120, 38, 197);
}

.container{
    max-width: 1400px;
    margin: 10px;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 11, 11);
    height: 200px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10000;
}

header img {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120px;
    width: 140px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 45px;
}

header .nombrelogo{
    display: flex;
    font-weight: bold;
    margin-top: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

a{
    text-decoration: none;
    color: rgb(235, 230, 230);
}

header nav{
    display: flex;
    align-items: center;
    font-size: 1.4em;
    height: 50px;
    margin-top: 120px;
    
}

header a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.0em;
    padding: 5px 12px;
}

nav ul{
    display: flex;
    align-items: center;
    margin-top: 40px;
    list-style-type: none;
    padding: 0;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.menu li{
    display: inline-block;
}
 
nav a:hover{
    color: red;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecakee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sub__principal{
    text-align: center;
    padding: 30px 12px;

}
 
.sub__principal h2{
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 10px;
}

.sub__principal .color{
    color: red;
 }

.sub__principal .article{
    font-size: 2.6em;
    font-weight: bold;
}

.nuestros-programas{
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
}

.nuestros-programas .container{
    padding: 50px 12px;
}

.nuestros-programas h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 3.2em;
}

.nuestros-programas p{
    display: none;
}

.nuestros-programas .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecakefresa.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecakeoreo.jpg");

}

.carta:nth-child(3){
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecake2.jpg");
}

.publicidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    color: white;
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecakepubli.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.publicidad h3{
    font-size: 3em;
    text-align: center;
    padding: 20px 10px;
    margin: 0%;
}

.publicidad iframe{
    margin: 0%;
    border: solid black;
    border-radius: 15px;
    width: 700px;
}

.formaspago{
    text-align: center;
}

.formaspago ol{
    display: inline-block;
    flex-direction: column;
    text-align: center;
}

.tresformas{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(14, 13, 13);
    color: white;
}

.tresformas .container{
    padding: 50px 12px;
}

.tresformas h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 3.2em;
}

.tresformas .bloque{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.bloque:first-child{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/simboloubicacion.jpg");
}

.bloque:nth-child(2){
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/tienda.jpg");
}

.bloque:nth-child(3){
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/delivery.jpg");
}

.nosotros{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-color: rgb(128, 4, 4);
    font-size: 2em;
}   

.sub__nosotros .container{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 100px 500px;
    grid-template-areas:
    "titulo titulo"
    "nosotros equipo";
    color: black;
}

.titulonosotros{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 4em;
    font-weight: bold;
    font-style: oblique;
}

.nosotrosp{
    grid-area: nosotros;
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin: 10px;
}

.nosotrosp span{
    color: rgb(180, 23, 23);
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.nosotrosimg{
    grid-area: equipo;
    background-image: url("../multimedia/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    border-radius: 10px;

}

.contacto{
    text-align: center;
}

.sub__contacto{
    text-align: right;
    margin: 10px;
    border: solid   black;
    display: inline-block;
    position: relative;
    left: 600px;
    background-color: aliceblue;
}

.sub__contacto p{
    margin-bottom: 30px ;
    font-size: 30px;
    margin-right: 20px;
}

.sub__contacto--1{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
 }


.sub__contacto--2{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
}

.sub__contacto--3{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
}

.sub__contacto--4{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
} 

.sub__contacto--4 label{
    position: relative;
    bottom: 10px;
}

.sub__contacto--5{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
} 

.sub__contacto--6{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
} 
.sub__contacto--7{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
} 

.sub__contacto--8{
    margin-bottom: 15px;
    margin-right: 40px;
    font-size: 13px;
    font-weight: bold;
} 

.nuestros-productos{
    text-align: center;
    background-color: white;
    color: white;
}

.titulo{
    background-color: white;
}

.product{
    background-color: white;
}

.sub-titulo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: white;
}

.nuestros-productos .container{
    display: grid;
    grid-template-columns: repeat(4) 300px;
    grid-template-rows: 250px;
    grid-template-areas:
    "pies tortas galletas dulces"
    ;
    grid-column-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.nuestros-productos .pies{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
    
}

.nuestros-productos .tortas{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.nuestros-productos .galletas{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.nuestros-productos .dulces{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.pies{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/pieslimon.jpg");
}

.tortas{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/tortachoco.jpg");
}

.galletas{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cookies.jpg");
}

.dulces{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecakefresa.jpg");
}

.subproductos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-color: rgb(128, 4, 4);
}

.subproductos h2{
    font-size: 7em;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subproductos h4{
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px;
}

.vitrina{
    background-color: white;
}

.vitrina h4{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 1,4em;

}

.vitrina .container{
    display: grid;
    grid-template-columns: repeat(3) 500px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
    "pies1 tortas1 galletas1"
    "pies2 tortas2 galletas2"
    "pies3 tortas3 galletas3"
    ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    color: white;
}

.vitrina .pies1{
    grid-area: pies1;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .tortas1{
    grid-area: tortas1;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
    
}

.vitrina .galletas1{
    grid-area: galletas1;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.pies1{
    background-image: 
    url("../multimedia/pieslimon.jpg");
}

.tortas1{
    background-image: 
    url("../multimedia/tortachoco.jpg");
}

.galletas1{
    background-image: 
    url("../multimedia/cookies.jpg");
}

.vitrina .pies2{
    grid-area: pies2;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .tortas2{
    grid-area: tortas2;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .galletas2{
    grid-area: galletas2;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .dulces2{
    grid-area: dulces2;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.pies2{
    background-image:
    url("../multimedia/pieslimon.jpg");
}

.tortas2{
    background-image:
    url("../multimedia/tortachoco.jpg");
}

.galletas2{
    background-image:
    url("../multimedia/cookies.jpg");
}

.dulces2{
    background-image: 
    url("../multimedia/cheesecakefresa.jpg");
}

.vitrina .pies3{
    grid-area: pies3;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .tortas3{
    grid-area: tortas3;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .galletas3{
    grid-area: galletas3;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .dulces3{
    grid-area: dulces3;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.pies3{
    background-image:
    url("../multimedia/pieslimon.jpg");
}

.tortas3{
    background-image: 
    url("../multimedia/tortachoco.jpg");
}

.galletas3{
    background-image:
    url("../multimedia/cookies.jpg");
}

.dulces3{
    background-image: 
    url("../multimedia/cheesecakefresa.jpg");
}

.vitrina .pies4{
    grid-area: pies4;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .tortas4{
    grid-area: tortas4;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding-left: 10px;
    margin: 5px;
}

.vitrina .galletas4{
    grid-area: galletas4;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.vitrina .dulces4{
    grid-area: dulces4;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    padding: 10px;
    margin: 5px;
}

.pies4{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/pieslimon.jpg");
}

.tortas4{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/tortachoco.jpg");
}

.galletas4{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cookies.jpg");
}

.dulces4{
    background-image: linear-gradient(0deg,
     rgba(0,0,0,0.5),rgba(0,0,0,0.5) )
    , url("../multimedia/cheesecakefresa.jpg");
}

footer{
    background: rgb(233, 228, 228);
    color: white;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 5px;
    color: rgb(100, 100, 100)   ;
}

@media screen and (max-width:500px) {

   /*  .container{
        max-width: 500px;
        margin: 10px;
    }
 */
    #header{
        flex-direction: column;
        align-items: center;
        height: 260px;
        justify-content: stretch;

    }

    header .nombrelogo{
        margin: 0;

    }

    header nav{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        height: 0;
       
    }
    
}