.header{
    position: sticky;
    top: 0;
    z-index: 10001;
}

.headerboot{
    display: flex;
    justify-content: space-between;
    background-color: $colorSecundario;
    height: 20%;
    padding: 11px;
}

.imagenboot{
padding: 5px;
}

.bordes{
    display: flex;
    flex-direction: column;
    border:solid $colorSecundario;
    padding: 25px;
    background-color: $colorcontacto;
    color: $colorPrincipal;
    
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 30px;
}

.contacto{
    text-align: center;
    h1{
        padding-top: 10px;
    }
}

.sub__contacto{
    text-align: right;
    margin: 10px;
    border: solid $colorSecundario;
    display: inline-block;
    position: relative;
    left: 600px;
    background-color: $colorPrincipal;
}

.tresformas .tresformas__comprar{
    margin: 0%;
    padding: 20px;
}
