.nosotros{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    color: $colorPrincipal;
    background-color: $colorseccion;
    font-size: 2em;
    }   

.sub__nosotros .container{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 100px 500px;
    grid-template-areas:
    "titulo titulo"
    "nosotros nosotros";
    color: $colorSecundario;
}

.titulonosotros{
    grid-area: titulo;
    display: flex;
    justify-content: center;
    color: $colorSecundario;
    font-size: 4em;
    font-weight: bold;
    font-style: oblique;
}

.nosotrosp{
    grid-area: nosotros;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: $colorSecundario;
    margin: 5px;
    width: 100%;
    span{
        color: $colorseccion;
        font-style: oblique;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

}

.nosotrosimg img{
    display: flex;
    grid-area: nosotros;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    border-radius: 10px;
    width: 80vh;
}