.nuestros-productos{
    text-align: center;
    background-color: $colorPrincipal;
    color: $colorPrincipal;
    .container{
        display: grid;
        grid-template-columns: repeat(4) 300px;
        grid-template-rows: 250px;
        grid-template-areas:
        "pies tortas galletas dulces"
        ;
        grid-column-gap: 20px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 20px;
    }

    .cajasproduct{
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;

    }

    .tarta{
        @extend .cajasproduct;
        background-image: linear-gradient(0deg,
        $colorimg,$colorimg )
        , url("../multimedia/pieslimon.jpg");
    }
    .tortas{
        @extend .cajasproduct;
        background-image: linear-gradient(0deg,
        $colorimg,$colorimg )
        , url("../multimedia/tortachoco.jpg");
    }
    .galletas{
        @extend .cajasproduct;
        background-image: linear-gradient(0deg,
        $colorimg,$colorimg )
        , url("../multimedia/cookies.jpg");
    }
    .dulces{
        @extend .cajasproduct;
        background-image: linear-gradient(0deg,
        $colorimg,$colorimg )
        , url("../multimedia/cheesecakefresa.jpg");
    }
}

.titulo{
    background-color: $colorPrincipal;
}

.product{
    background-color: $colorPrincipal;
}

.sub-titulo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    background-color: $colorPrincipal;
}


.tarta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,
     $colorimg,$colorimg )
    , url("../multimedia/pieslimon.jpg");
}

.tortas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/tortachoco.jpg");
}

.galletas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/cookies.jpg");
}

.dulces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/cheesecakefresa.jpg");
}

.subproductos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: $colorPrincipal;
    background-color: $colorseccion;
    h2{
        font-size: 7em;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h4{
        font-size: 2em;
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px;
    }
}

.vitrina{
    background-color: $colorPrincipal;
    h4{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 40px;
        font-size: 1,4em;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3) 500px;
        grid-template-rows: 200px 200px 200px;
        grid-template-areas:
        "pies1 tortas1 galletas1"
        "pies2 tortas2 galletas2"
        "pies3 tortas3 galletas3"
        ;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 20px;
        color: $colorPrincipal;
    }
    .pies1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: pies1;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            margin: 0;
            font-weight: bold;
        }
    }
    .tortas1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: tortas1;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .galletas1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: galletas1;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .pies2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: pies2;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .tortas2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: tortas2;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .tortas2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: tortas2;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .galletas2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: galletas2;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .dulces2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: dulces2;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .pies3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: pies3;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .tortas3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: tortas3;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .galletas3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: galletas3;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .dulces3{
        grid-area: dulces3;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: solid $colorSecundario;
        h3{
            display: flex;
            justify-content: center;
            margin: 10px;
            color: $colorPrincipal;
            font-weight: bold;
        }
        p{
            display: flex;
            justify-content: center;
            color: $colorPrincipal ;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
}

.pies1{
    background-image: linear-gradient(0deg,
     $colorimg,$colorimg )
    , url("../multimedia/cheesecakestrawberry.jpg");
}

.tortas1{
    background-image:linear-gradient(0deg,
    $colorimg,$colorimg ) 
    , url("../multimedia/fluffycakes.jpg");
}

.galletas1{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/galletas.jpg");
}

.pies2{
    background-image:linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/cheesechoco.jpg");
}

.tortas2{
    background-image:linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/chococake.jpg");
}

.galletas2{
    background-image:linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/secondcookies.jpg");
}

.dulces2{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg ) 
    , url("../multimedia/cheesecakefresa.jpg");
}

.pies3{
    background-image:linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/pieslimon.jpg");
}

.tortas3{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/tortachoco.jpg");
}

.galletas3{
    background-image:linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/cookies.jpg");
}

.dulces3{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/cheesecakefresa.jpg");
}

.pies4{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/pieslimon.jpg");
}

.tortas4{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/tortachoco.jpg");
}

.galletas4{
    background-image: linear-gradient(0deg,
    $colorimg,$colorimg )
    , url("../multimedia/cookies.jpg");
}