$colorPrincipal: rgb(253, 253, 253);
$colorSecundario: rgb(12, 11, 11);
$colorcontacto: green;  
$colorimg:rgba(0,0,0,0.5) ;
$colorButtonprimario: rgb(73, 26, 184);
$colorButtonsecundario: rgb(120, 38, 197) ;
$colorterciario: red;
$colorfooter: rgb(100, 100, 100);
$colorseccion: rgb(128, 4, 4);

@import "generales";
@import "header";
@import "index";
@import "nosotros";
@import "productos";
@import "formaspago";
@import "contacto";
@import "queries";




/* extends */
.cajaGrande{
    height: 200px;
    width: 1500px;
    background-color: red;
    padding: 40px;
    color: black;
}

.cajaMediana{
    @extend .cajaGrande;
    width: 750px;
    padding: 30px;
}

.cajaPequena{
    @extend .cajaGrande;
    width: 300px;
    padding: 10px;
}

/* mixins */

@mixin sizes ($ancho, $alto){
        height: $alto;
        width: $ancho;
}    

.imange2{
    @include sizes(300px,150px )
}

/* mixin sin parametros */

@mixin flexbase ($display, $direction, $wrap) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;

.box{
    @include flexbase(flex, column , nowrap )

}

}

